{% extends 'layout.html' %}

{% block content %}
  <div class="divider"></div>
  <div class="row splash parallax-container">
    <img class="parallax responsive-img" src="./images/splash.jpg" alt=""/>
    <h2>
      <span>
        <a href="/products">Track your business today >> </a>
      </span>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="divider"></div>
      <div class="section">

        <div class="col s12 m12 l6 pull-l1 card-panel hoverable info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis neque magna, nec pharetra eros scelerisque a. Fusce ullamcorper enim ligula, et congue erat rhoncus et. Morbi vestibulum tellus lacinia pellentesque
            lobortis. Donec facilisis et odio ut euismod. Integer ac enim dignissim odio mollis dictum. Aliquam massa nunc, pretium sed sem eu, molestie gravida nibh. Duis efficitur eu leo et lacinia. Aliquam pulvinar a enim vitae accumsan. Suspendisse interdum
            porta imperdiet.
          </p>
        </div>
        <div class="col s12 m12 l6 push-l1 card-panel hoverable info">
          <p>
            Maecenas felis ipsum, gravida sit amet sem a, cursus suscipit sem. Sed egestas sollicitudin felis eu placerat. Phasellus maximus scelerisque metus ut vulputate. Curabitur felis sapien, tempus sit amet nunc ut, auctor tempus magna. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum a neque quam. In ac erat vel massa consequat vulputate id non sem. Quisque at condimentum metus, sit amet maximus orci. Lorem ipsum dolor sit amet, consectetur.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
